Customer_Due_Amount.json
{
  "name": "Customer_Due_Amount",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "201c3bf4-ff62-4fc6-8950-dcc0b196b3ed",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "c0QiDOdS8m76L0PO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yMLphPbkar40oh0Nn4USmvvqQ7i3H8mYN_HE9f9GX7c",
          "mode": "list",
          "cachedResultName": "Customer Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMLphPbkar40oh0Nn4USmvvqQ7i3H8mYN_HE9f9GX7c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMLphPbkar40oh0Nn4USmvvqQ7i3H8mYN_HE9f9GX7c/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        480,
        224
      ],
      "id": "2066f0c1-f806-4a13-bb04-df9358be2c6b",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VX9B5IWZbrvp4dXF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1yMLphPbkar40oh0Nn4USmvvqQ7i3H8mYN_HE9f9GX7c",
          "mode": "list",
          "cachedResultName": "Customer Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMLphPbkar40oh0Nn4USmvvqQ7i3H8mYN_HE9f9GX7c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMLphPbkar40oh0Nn4USmvvqQ7i3H8mYN_HE9f9GX7c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Client__using_to_match_', ``, 'string') }}",
            "Amount Paid": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount_Paid', ``, 'string') }}",
            "Industry": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Industry', ``, 'string') }}",
            "Gmail": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Gmail', ``, 'string') }}"
          },
          "matchingColumns": [
            "Client"
          ],
          "schema": [
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount Paid",
              "displayName": "Amount Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gmail",
              "displayName": "Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        608,
        224
      ],
      "id": "855ae2a7-0d40-4081-8f27-8ad95ef9f1ea",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VX9B5IWZbrvp4dXF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "2748568b-9373-4515-a177-fedf1fc56223",
      "name": "Telegram Trigger",
      "webhookId": "f2bc0853-2a49-4ce4-9181-dc7e05e08a1f",
      "credentials": {
        "telegramApi": {
          "id": "FOVbxjDvivrJXAN5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "830c0a53-c7ea-48f3-8757-6d31bd4fcca9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "\nYou are an AI that manages a Google Sheet. Your job is to read messages, check the sheet, and update it correctly.\n\n### Steps\n\n1. Read the user’s message – understand what they want.\n2. Check the sheet – use read_google_sheet to see the current data.\n3. Decide – figure out what needs to be changed or added.\n4. Update – use update_google_sheet to make the change.\n5. Confirm – tell the user what you updated.\n\n### Rules\n\n* Always check the sheet before updating.\n* Only update what’s new or changed.\n* Don’t touch unrelated data.\n* If the request is unclear, ask first.\n* Keep confirmations short (e.g., “Updated client revenue in the sheet.”).\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "75f3acf9-1d3c-492e-9ffc-db9af54f1c4b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        944,
        0
      ],
      "id": "696faead-9804-4fb8-a1e6-6199ef39bd20",
      "name": "Send a text message",
      "webhookId": "ebd5487d-997b-4413-8729-6fffe3124cc6",
      "credentials": {
        "telegramApi": {
          "id": "FOVbxjDvivrJXAN5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        736,
        224
      ],
      "id": "b89e8655-6f8b-4da8-8f27-21d86c92145b",
      "name": "Send a message in Gmail",
      "webhookId": "2b7fcb37-b0a7-475d-9702-94f272db3892",
      "credentials": {
        "gmailOAuth2": {
          "id": "R0jFkm5fdf2TF2dZ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "72ad0465-e4c9-431b-8d91-c6bf71a2ee6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d96bc60dc636a7e3c55c7120d3c69f54c13c89da069669d9e22c3768f6196e8f"
  },
  "id": "ec9bRWsn6Hk4HUDd",
  "tags": []
}